header {
  display: flex; /* turn on flexbox for this container */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  background-color: #333; /* background color */
  color: white; /* text color */
  height: 60px; /* fixed height */
  position: fixed; /* fixed positioning */
  width: 100%; /* full width */
  top: 0; /* stick to top */
  z-index: 1000; /* high z-index to make sure it's on top of other elements */
}

#headerItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#headerItems li a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}
main {
  align-items: center;
  border: 1px solid black;
  padding: 3px;
  margin: 10px;
  flex: 1;
}

aside {
  align-items: center;
  border: 1px solid red;
  flex: 2;
}

main,
aside {
  overflow: auto;
  overflow-wrap: break-word;
}

footer {
  display: flex; /* turn on flexbox */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  background-color: #222; /* background color */
  color: grey; /* text color */
  height: 50px; /* fixed height */
  width: 100%; /* full width */
  position: fixed; /* fixed positioning */
  bottom: 0; /* stick to bottom */
}
